<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" href="/tabs/schedule">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Horario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="songs" href="/tabs/songs">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Canciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings" href="/tabs/bookings">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>