.info {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: justify;
}

.filters {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}