.hello {
    padding: 20px;
    width: 100%;
}

.linea-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}