<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="hello">
    <h1>Hola, {{currentUserName}}</h1>
    <h6>Versión {{version}}</h6>
  </div>

  <ion-list [inset]="true">
    <ion-item>
      <ion-icon aria-hidden="true" name="chatbubble-ellipses-outline" slot="start"></ion-icon>
      <ion-label (click)="setOpen(true)">Rogativas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="bag-outline" slot="start"></ion-icon>
      <ion-label>Mis pedidos</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="ticket-outline" slot="start"></ion-icon>
      <ion-label>Mis entradas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="qr-code-outline" slot="start"></ion-icon>
      <ion-label (click)="setQrOpen(true)">Mi QR</ion-label>
    </ion-item>
  </ion-list>

  <p class="linea-texto">Has escaneado el código de {{scanResult}}</p>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin:20px;">
    <ion-fab-button (click)="onSignOut()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="margin:20px;">
    <ion-fab-button (click)="startScan()">
      <ion-icon name="scan-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Rogativas</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)" [strong]="true">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      @for (l of rogativas; track $index) {
      <p class="linea-texto">{{l}}</p>
      }
    </ion-content>

  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isQrOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Mi QR</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setQrOpen(false)" [strong]="true">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="qr-container">
        <qrcode [qrdata]="qrInfo" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
    </ion-content>

  </ng-template>
</ion-modal>